/* ============================================== */
/* tree */
/* ============================================== */

.tree1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree2 {
    list-style-type: none;
    display: none;
    margin: 0;
    padding-left: 25px;
}

.tree2.active {
    display: block;
}

.tree3 {
    cursor: pointer;
    -webkit-user-select: none;  /* Safari 3.1+ */
    -moz-user-select: none;     /* Firefox 2+ */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    position: relative;
    padding-left: 25px;
}

.tree3::before {
    content: "\25B6";
    color: red;
    position: absolute;
    left: 0;
}

.tree3.down::before {
    -ms-transform: rotate(90deg);       /* IE 9 */
    -webkit-transform: rotate(90deg);   /* Safari */
    transform: rotate(90deg);
}

.tree3:hover {
    background-color: #eee;
}

.tree4 {
    padding-left: 25px;
    position: relative;
}

.tree4:hover {
    background-color: #eee;
}

.tree5 {
    color: blue;
    -ms-transform: rotate(90deg);       /* IE 9 */
    -webkit-transform: rotate(90deg);   /* Safari */
    transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.tree5.hide {
    display: none;
}

.tree6 {
    color: green;
    -ms-transform: rotate(-90deg);       /* IE 9 */
    -webkit-transform: rotate(-90deg);   /* Safari */
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.tree6.hide {
    display: none;
}

/* ============================================== */
/* button */
/* ============================================== */

.button1 {
    padding: 10px;
    text-align: center;
}

/* ============================================== */
